.main-header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(236, 236, 236);
}

.main-header .main-nav {
  display: flex;
  align-items: center;
}

.main-header .main-nav .main-nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.main-header .main-nav .main-nav-list .list-item a {
  text-decoration: none;
  color: black;
}

.main-header .main-nav .main-nav-list .list-item a:hover {
  color: rgb(71, 166, 255);
  text-decoration: underline;
}