.container {
  display: grid;
  grid-template-columns: auto repeat(6, minmax(min-content, 10rem)) auto;
  grid-template-rows: fit-content(100%) auto fit-content(100%) fit-content(100%);
}

.container header,
.first-section,
.second-section,
footer {
  height: 80px;
}

.container header {
  grid-column: 1 / -1;
  background-color: purple;
}

.container main {
  padding: 40px;
  grid-column: 2 / 6;
  background-color: orange;
}

.container aside {
  grid-column: 6 / 8;
  background-color: red;
}

.container .first-section {
  grid-column: 2 / 5;
  background-color: beige;
}

.container .second-section {
  grid-column: 5 / 8;
  background-color: magenta;
}

.container footer {
  grid-column: 1 / -1;
  background-color: blue;
}
