.hidden {
  display: none !important;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(3, 3, 3, 0.26);
}

.modal-inner {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 200px;
  background-color: rgb(68, 68, 68);
  padding: 16px;
  color: white;
}

.modal-inner__close-button {
  background-color: #fff;
  display: inline-block;
  color: black;
  padding: 4px;
}

.modal-inner__text {
  flex: 1;
}
